base:
  HTTP_PORT: 5000
  BODY_LENGTH_LIMIT: 5mb

# Development environment.
development:
  ~compose: base

  DB_LOG: true
  DB_DATABASE: 'the-case'
  DB_PASSWORD: ''
  DB_TYPE: 'mysql'
  DB_HOSTNAME: 'localhost'
  DB_USERNAME: 'root'
  DB_PORT: 3306

  EMAIL_SERVICE: 'test'
  EMAIL_HOST: '127.0.0.1'
  EMAIL_PORT: '1025'
  EMAIL_SECURE: false
  EMAIL_AUTH_USER: ~
  EMAIL_AUTH_PASS: ~
  EMAIL_SENDER: 'No reply <no-reply@no-email.com>'
  EMAIL_DEBUG: false

# Running tests
test:
  ~compose: base

# Production environment.
production:
  ~compose: base
